extends layout

block append content
  .row-fluid
    each camera in cameras
      span.span6
        .well
          p= camera.name
          img.image(src='/video/' + camera.name)
          .div-1
            .btn-group
              button.btn(data-action="move" data-camera= camera.name data-direction="left")
                i.icon.icon-chevron-left
              button.btn(data-action="move" data-camera= camera.name data-direction="right")
                i.icon.icon-chevron-right
              button.btn(data-action="move" data-camera= camera.name data-direction="up")
                i.icon.icon-chevron-up
              button.btn(data-action="move" data-camera= camera.name data-direction="down")
                i.icon.icon-chevron-down
            .btn-group.pull-right
              each preset in camera.presets
                button.btn(data-action="preset" data-camera= camera.name data-preset= preset.key)= preset.name
