extends layout

block append content
  .row-fluid
    span.span6
      .well
        img.image(src='/video')
        .div-1
          .btn-group
            button.btn
              i.icon.icon-chevron-left
            button.btn
              i.icon.icon-chevron-right
            button.btn
              i.icon.icon-chevron-up
            button.btn
              i.icon.icon-chevron-down
          .btn-group.pull-right
            button.btn.btn-primary Sofa
            button.btn Kitchen
            button.btn Table
            button.btn Window
    span.span6
      .well
        img.image(src='/video')
        .div-1
          .btn-group
            button.btn
              i.icon.icon-chevron-left
            button.btn
              i.icon.icon-chevron-right
            button.btn
              i.icon.icon-chevron-up
            button.btn
              i.icon.icon-chevron-down
          .btn-group.pull-right
            button.btn TV
            button.btn.btn-primary Main
            button.btn Hallway
