extends layout

block append content
  .row-fluid
    each camera in cameras
      span.span6
        .well
          p= camera.name
          img.image(src='/video/' + camera.name)
          .div-1
            .btn-group
              button.btn
                i.icon.icon-chevron-left
              button.btn
                i.icon.icon-chevron-right
              button.btn
                i.icon.icon-chevron-up
              button.btn
                i.icon.icon-chevron-down
            .btn-group.pull-right
              each preset in camera.presets
                button.btn= preset.name
