extends layout

block append content
  .row
    each camera in cameras
      .col-lg-6
        .well
          p.text-center= camera.name
          img.camera.img-rounded(src='/video/' + camera.name)
          .btn-toolbar
            .btn-group
              button.btn.btn-default(data-action="move" data-camera= camera.name data-direction="left")
                i.fa.fa-chevron-left
              button.btn.btn-default(data-action="move" data-camera= camera.name data-direction="right")
                i.fa.fa-chevron-right
              button.btn.btn-default(data-action="move" data-camera= camera.name data-direction="up")
                i.fa.fa-chevron-up
              button.btn.btn-default(data-action="move" data-camera= camera.name data-direction="down")
                i.fa.fa-chevron-down
            .btn-group.pull-right
              each preset in camera.presets
                button.btn.btn-default(data-action="preset" data-camera= camera.name data-preset= preset.key)= preset.name
