doctype html
html
  head
    title Palantir

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")

    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet", type="text/css")

    style.
      body {
        background-color: #eee;
      }
      .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }
      .form-signin .form-signin-heading {
        margin-bottom: 10px;
      }
      .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .camera {
        width: 100%;
        margin-bottom: 19px;
      }
    script.
      $(function(){
        $("[data-action=move")
        .on("mousedown", function (event){
          var $this = $(this);
          send($this.data("camera"), $this.data("direction") + ":start");
        })
        .on("mouseup", function (event){
          var $this = $(this);
          send($this.data("camera"), $this.data("direction") + ":stop");
        });

        $("[data-action=preset").on("click", function (event){
          var $this = $(this);
          send($this.data("camera"), "preset:" + $this.data("preset"));
        });

        function send (camera, command) {
          $.get("/command/" + camera + "/" + command);
        }
      });
  body

    .navbar.navbar-default.navbar-static-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='#') Palantir
        if user
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/logout") Logout
    .container
      block content
