 body {
   padding-left: 0;
   padding-right: 0;
 }
 .navbar {
   height: 41px;
 }
 .navbar .navbar-inner {
   padding-left: 20px;
   padding-right: 20px;
 }
 .container {
   margin-top: 50px;
 }
 .container .row-fluid .span6 .well p {
  text-align: center;
 }
 .container .row-fluid .span6 .well .image {
   border-radius: 5px;
 }
 .container .row-fluid .span6 .well div.div-1 {
   margin: 10px 0px 0px 0px;
 }